body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2em;
    margin: 0;
  }
  
  header p {
    font-size: 1.5em;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }

  .fixed{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #00b8d4;
  }
  nav .nav-logo{
    width: 2.5rem;
    margin-right: 10px;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  section p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #home h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #home p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #home-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #home-image-container img {
    width: 50%;
    height: auto;
    border-radius: 5px;
  }
  
  #home-image-caption {
    font-size: 1em;
    font-style: italic;
    margin-left: 10px;
  }
  
  #home h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
  }

  .course-icons img{
    width: 10%;
  }

  .about-us {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .about-us h2 {
    margin: 20px 0;
    color: blue;
  }
  
  .about-us h3 {
    margin: 20px 0;
    color: green;
  }
  
  footer {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }